$dark : #2c3840;
$darkhover: #5F798A;
$white: #fefefe;

@import url('https://fonts.googleapis.com/css?family=Kanit:700&display=swap');

h1, h2 {
  font-family: "Kanit", san-serif;
}

body {overflow-x: hidden;}
.excerpt-read-more {
  font-weight: 700;
}

.dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a:after {
    border-color: $white transparent transparent;
}
.is-dropdown-submenu .is-dropdown-submenu-parent.opens-left>a:after {
  border-color: transparent $white transparent transparent;
}

.text-center {
  text-align: center;
}
.button {
  background-color: $dark;
}
.button:hover {
  background-color: $darkhover;
}
.single-post-margin,
.page-margin {
  margin-top: 6rem;
}
.home {

  footer {
    margin-top: 11rem;
  }
  .page-title {
    display: none;
  }
}
.top-bar, .top-bar ul {
  background-color: transparent;
}
.card {
  img {
    height: 40vh;
    object-fit: cover;
    margin: 0 auto;
    display: block;
  }
}
.related.card.card-section:nth-child(2) {
  margin-bottom: 7rem;
}
#frontpage-hero.card {
  margin-bottom: 11rem;
  border: none;
  .front-page.card-divider {
    justify-content: center;
    background: $dark;
    color: $white;
  }
  .card-section {
    text-align: center;
  }
  .fp-topcont-img.card-section h1,
  .fp-topcont-img.card-section h2,
  .fp-topcont-img.card-section h3 {
    color: $white;
  }
}
  .logged-in.admin-bar > .off-canvas-wrapper > .off-canvas-content header .sticky-container .sticky.is-stuck {
    margin-top: 32px !important;
  }


.archive {
  .entry-content.product-archive p {
    padding: 1.618rem 1em 1.618rem;
  }
  .article-header h2 {
   font-size: 1.5rem;
    padding: .3rem .3em;
  }
  #card-cont-one {
    margin-top: 5.5rem;
  }
  .content {
    margin-bottom: 11rem;
    margin-top: 11rem;
  }
  .pagination li span {
    padding: 1.489rem 1.8rem;
    border: 3px solid #ccc;
  }
  .pagination li {
    font-size: 1.4rem;
  }
  .pagination a {
    padding: 1.19rem 1.63rem !important;
    border: 3px solid #ccc !important;
  }
  .pagination .current {
    background-color: $dark;
  }

}




nav {
  #footer-links, #main-nav {
    justify-content: center;
    margin: 0 auto;
  }
  img.top-bar-logo {
    max-width: 20%;
  }
}
footer {
  nav{
    margin-top: 5.5rem;
    margin-bottom: 5.5rem;
  }
  margin-top: 11rem;
  h3.widget-title {
    text-align: center;
    margin-bottom: 5.5rem;
  }
  .menu .active>a {
    background: #000;
    color:$white;
  }
}
.top-bar {
  .menu .active>a {
    background: #000;
    color: $white;
  }
}
#card-cont-two.grid-container {
  margin-top: 11rem;
}
#main-prod-menu {
  background-color: $dark;
  .top-bar-center {
    margin: 0 auto;
    ul li a {
      color: $white;
    }
  }
}

/* New menu style */

$topbar-responsive-bg: $dark;
$topbar-responsive-animation-type: fade-in; // or use slide-down or none

.topbar-responsive {
  background: $topbar-responsive-bg;
  padding: 1rem 1.5rem;

  .topbar-responsive-logo {
    color: $white;
    vertical-align: middle;
  }

  .menu {
    background: $topbar-responsive-bg;

    li:last-of-type {
      margin-right: 0;
    }

    a {
      color: $white;
      transition: color 0.15s ease-in;

      &:hover {
        color: lighten($topbar-responsive-bg, 60%);
      }

      @media screen and (max-width: 39.9375em) {
        padding: 0.875rem 0;
      }
    }

    .topbar-responsive-button {
      color: $white;
      border-color: $white;
      border-radius: 5000px;
      transition: color 0.15s ease-in, border-color 0.15s ease-in;

      &:hover {
        color: lighten($topbar-responsive-bg, 60%);
        border-color: lighten($topbar-responsive-bg, 60%);
      }

      @media screen and (max-width: 39.9375em) {
        width: 100%;
        margin: 0.875rem 0;
      }
    }
  }

  @media screen and (max-width: 39.9375em) {
    padding: 0.75rem;

    .top-bar-title {
      position: relative;
      width: 100%;

      span {
        position: absolute;
        right: 0;
        border: 1px solid $white;
        border-radius: 5px;
        padding: 0.25rem 0.45rem;
        top: 50%;
        transform: translateY(-50%);

        .menu-icon {
          margin-bottom: 4px;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity:0;
  } to {
      opacity:1;
    }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@include breakpoint(medium) {
  header {
    h1 {
      text-align: center;
    }
  }
  .archive {
    .content {
      margin-top: 8rem;
    }
  }
}

@include breakpoint(small only) {
  #frontpage-hero.card {
    margin-bottom: 5.5rem;
  }
  header {
    h1 {
      text-align: center;
    }
  }
  .archive {
    .content {
      margin-top: 7rem;
    }
  }

  .topbar-responsive-links {
    animation-fill-mode: both;
    animation-duration: 0.5s;
    width: 100%;

    @if $topbar-responsive-animation-type == slide-down {
      animation: slideDown 1s ease-in;
    } @else if $topbar-responsive-animation-type == fade-in {
      animation: fadeIn 1s ease-in;
    } @else {
      animation: none;
    }
  }
}

.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle)>a:after {
  right: 0rem;
}


